/* src/components/Results/Results.css */
.resultados {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 500px;
}

.resultados h2 {
  margin-bottom: 20px;
}

.resultados-contenido {
  display: flex;
  justify-content: space-between;
}

.resultados-texto {
  flex: 1;
  padding-right: 20px;
}

.resultados-texto p {
  margin: 5px 0;
}

.map-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.map-container iframe {
  width: 100%;
  height: 100%;
  object-fit: contain;
  aspect-ratio: 1;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}